.CalculatorButton {
    border-style: inset;
    border-width: 5px;

    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;

    width: 100px;
    height: 100px;

    text-align: center;

    font-family: Fantasy;
    font-size: 50px;
}

.CalculatorScreen {
    background-color: #FCFCFC;

    border-style: inset;
    border-width: 5px;

    margin-top: 16px;
    margin-bottom: 8px;

    height: 100px;
}

.CalculatorScreenText {
    text-align: right;
    vertical-align: bottom;
    
    font-family: Fantasy;
    font-size: 50px;
}

.CalculatorBase {
    background-image: url('../images/calculatorBackground2.jpg');
    background-repeat: no-repeat;
    background-size: 1000px;
    
    border-style: inset;
    border-width: 5px;
    border-radius: 16px;

    width: fit-content;

    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}