body {
    background-color:#A14835;
}

.board-row:after {
    clear:both;
    content:"";
    display: table;
}

.Text {
    color:#F7B2A3;
    font-family:Roboto, Noto, sans-serif;
    font-size:30px;

    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}

.Button {
    background-color:#C77260;
    text-align: center;
    width: 40px;
    height: 40px;

    border-radius: 50%;

    float: left;
}

.Button.one {
    margin-left: 5px;
}

.Button.two {
    margin-left: 60px;
}

.Button.three {
    margin-left: 70px;
}