body {
    background-color:#A14835;
}

.Row {
    width:fit-content;

    border-color:aqua;
    border-radius:4px;
}

.Text {
    color:#F7B2A3;
    font-family:Roboto, Noto, sans-serif;
    font-size:30px;

    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}

.Button {
    background-color:#C77260;
    text-align: center;
    width: 40px;
    height: 40px;

    border-color:#303030;
    border-width:3px;
    border-radius: 50%;
}